<main>
    <section class="questionnaire">
        {{#each questions}}
        <section class="questionnaire">
            <p id="{{this.QuestionId}}" class="question">{{this.QuestionContent}}</p>
            {{#each this.Answers}}
            <div class="answers">
                <div class="answer" id="{{this.IsCorrect}}">
                    {{!-- <p class="answer-letter">A</p> --}}
                    <p class="answer-content">{{this.Content}}</p>
                </div>
            </div>
            {{/each}}
            <div id="explanation">
                <h5>Explanation:</h5>
                <p>{{this.Explanation}}</p>
            </div>
            <button class="button">Next Question</button>
            {{/each}}
        </section>
</main>
<script src="/scripts/question.js"></script>