<main>
    <section class="questionnaire">
        {{#each questions}}
        <div id="{{this.QuestionId}}" class="questionInfo">
            <p class="question">{{this.QuestionContent}}</p>
            <div class="answers">
                {{#each this.Answers}}
                <div class="answer" id="{{this.IsCorrect}}">
                    <p class="answer-content">{{this.Content}}</p>
                </div>
                {{/each}}
            </div>
            <div id="explanation">
                <h5>Explanation:</h5>
                <p>{{this.Explanation}}</p>
            </div>
            <button class="button">Next Question</button>
        </div>
        {{/each}}
    </section>
</main>
<script src="/scripts/question.js"></script>